In [33]:
import pandas as pd
import numpy as np

In [34]:
filename = "uklon_sample_3_months.csv"

In [35]:
parse_dates = ['created_at']

In [36]:
df = pd.read_csv(filename, delimiter=";", parse_dates=parse_dates)

/home/temenid/.local/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (17,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [37]:
df.head()

,order_id,ride_id,created_at,pickup_lat,pickup_lon,dropoff_lat,dropoff_lon,user_id,driver_id,ride_distance,...,ooExtraCost,ooInitialCost,ooIdleCost,oapAzureMlCost,oapAzureMlCostBid,oapCostProvider,ooSurgeMultiplier,driver_lat,driver_lon,dtTaxiDriver_tdID
0,88314768,764A34A6-5C92-4A0C-90E8-82BDA5A5F9C1,2017-10-31 23:59:59.143,50.448906,30.386448,50.410267,30.412216,420361.0,568114.0,"9,1",...,"1,00","115,00","0,00","114,00",1.0,AzureML,"1,35",50.437012,30.383680,568114.0
1,88314766,299E8328-8BE6-4097-AF81-4834478B4D51,2017-10-31 23:59:58.577,50.446000,30.576200,50.414604,30.384350,722883.0,553135.0,"19,74",...,"0,00","146,00","0,00","146,00",0.0,AzureML,"1,00",50.449512,30.595537,553135.0
2,88314765,7AABF746-29E9-47FF-ACE6-20CB27C8D658,2017-10-31 23:59:57.883,50.435800,30.489700,50.513103,30.438412,NaN,NaN,"11,16",...,"0,00","98,00","0,00","117,00",1.0,Uklon,"1,00",NaN,NaN,NaN
3,88314764,CDB5BFDF-BDF9-40A5-A86A-71651F350242,2017-10-31 23:59:56.403,50.439125,30.519798,50.444698,30.519865,54185.0,NaN,"11,07",...,"-13,00","100,00","0,00","113,00",1.0,NaN,"1,15",NaN,NaN,NaN
4,88314763,4EDC7FB9-5E34-4132-A2B3-B926F81DB439,2017-10-31 23:59:55.050,50.438610,30.459536,50.439339,30.444427,693323.0,568920.0,"11,08",...,"-7,00","100,00","0,00","107,00",1.0,AzureML,"1,09",50.424972,30.458965,568920.0

In [38]:
df.columns

Index(['order_id', 'ride_id', 'created_at', 'pickup_lat', 'pickup_lon',
       'dropoff_lat', 'dropoff_lon', 'user_id', 'driver_id', 'ride_distance',
       'ooCancelReason', 'ooSuburbanDistance', 'ooCarSearchTime', 'ooCost',
       'ooExtraCost', 'ooInitialCost', 'ooIdleCost', 'oapAzureMlCost',
       'oapAzureMlCostBid', 'oapCostProvider', 'ooSurgeMultiplier',
       'driver_lat', 'driver_lon', 'dtTaxiDriver_tdID'],
      dtype='object')

In [39]:
df.isnull().sum()

order_id                    0
ride_id                     0
created_at                  0
pickup_lat               1326
pickup_lon               1326
dropoff_lat              1710
dropoff_lon              1710
user_id                812181
driver_id             3629128
ride_distance               0
ooCancelReason              0
ooSuburbanDistance          0
ooCarSearchTime             0
ooCost                      0
ooExtraCost                 0
ooInitialCost               0
ooIdleCost                  0
oapAzureMlCost        3696104
oapAzureMlCostBid     3696104
oapCostProvider       4176766
ooSurgeMultiplier           0
driver_lat            4046614
driver_lon            4046614
dtTaxiDriver_tdID     4046614
dtype: int64

In [40]:
df.shape

(6444521, 24)

In [41]:
new_df = df.dropna(subset=['driver_id'],inplace=False)

In [46]:
data = new_df[['created_at','ride_distance', 'ooSuburbanDistance', 'ooCarSearchTime', 'ooCost']]

In [47]:
data.head()

,created_at,ride_distance,ooSuburbanDistance,ooCarSearchTime,ooCost
0,2017-10-31 23:59:59.143,"9,1",0,13,"115,00"
1,2017-10-31 23:59:58.577,"19,74",0,7,"146,00"
4,2017-10-31 23:59:55.050,"11,08",0,1,"100,00"
5,2017-10-31 23:59:54.420,"9,24",0,69,"88,00"
7,2017-10-31 23:59:50.053,"3,73",0,4,"55,00"

In [48]:
data.isnull().sum()

created_at            0
ride_distance         0
ooSuburbanDistance    0
ooCarSearchTime       0
ooCost                0
dtype: int64

In [49]:
data['quarter'] = data['created_at'].dt.quarter.astype(str)
data['month'] = data['created_at'].dt.month.astype(str)
data['day'] = data['created_at'].dt.day.astype(str)
data['dayofweek'] = data['created_at'].dt.dayofweek.astype(str)

/home/temenid/.local/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/temenid/.local/lib/python3.5/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/temenid/.local/lib/python3.5/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/temenid/.local/lib/python3.5/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [50]:
data.head()

,created_at,ride_distance,ooSuburbanDistance,ooCarSearchTime,ooCost,quarter,month,day,dayofweek
0,2017-10-31 23:59:59.143,"9,1",0,13,"115,00",4,10,31,1
1,2017-10-31 23:59:58.577,"19,74",0,7,"146,00",4,10,31,1
4,2017-10-31 23:59:55.050,"11,08",0,1,"100,00",4,10,31,1
5,2017-10-31 23:59:54.420,"9,24",0,69,"88,00",4,10,31,1
7,2017-10-31 23:59:50.053,"3,73",0,4,"55,00",4,10,31,1

In [51]:
data.shape

(2815393, 9)